<h1>
  This is the about page.
</h1>
<p>
  Sidney Royel Selby III (born May 3, 1997), better known by his stage name Desiigner, is an American rapper, singer, songwriter, record producer, record executive and actor. He rose to prominence in 2016 after the release of his debut single "Panda", which reached number one on the U.S. Billboard Hot 100. In February 2016, rapper and producer Kanye West (who sampled "Panda" for his seventh album The Life of Pablo), announced Desiigner's signing to his GOOD Music imprint, under the aegis of Def Jam Recordings.
</p>
<%= link_to "Back to home", root_path %>